<div class="profile_nav">

<div class="profile_nav_left">	
		<% if current_user and current_user.photos.any? %>
			<%= image_tag(Photo.find_by(user_id: current_user.id).image.url, class: 'media-object') %>	
		<% else %>	
		<%= image_tag 'missing_picture.png', class: 'media-object'  %>
		<% end %>
	</div>

	<div class="profile_nav_center">	
		<div class="username">
			<h1><%= @user.username %></h1>
		</div>
		<div id="location">
			<p><%= @user.location %></p>
		</div>

		<ul>
			<li><%= link_to 'Profile', profile_path %></li> | 
			<li><%= link_to 'Edit Info', edit_user_path(current_user.id) %></li> |
			<li><%= link_to 'My Pics', photos_index_path %></li> 
		</ul>
	</div>	

	<div class="profile_nav_right"></div>
</div>

<hr>

<h1>Edit Info</h1>
<%= render 'userform' %>
