<div class="profile_nav">

	<div class="profile_nav_left">	
		<% if current_user and current_user.photos.any? %>
			<%= image_tag(Photo.find_by(user_id: current_user.id).image.url, class: 'profilepic') %>	
		<% else %>	
			<%= image_tag '/assets/missing_picture.png', class: 'profilepic' %>
		<% end %>
	</div>

	<div class="profile_nav_right">	
		<div class="username">
			<h2><%= @user.username %></h2>
		</div>
		<div id="location">
			<p>Located at <%= @user.location %></p>
		</div>

			<li>
				<%= link_to 'Profile', profile_path %>
			</li> | 
			<li>
				<%= link_to 'Edit Info', edit_user_path(current_user.id) %>
			</li> |
			<li>
				<%= link_to 'My Pics', photos_index_path %>
			</li> 
	</div>	

</div>

<% if current_user %>
	<h2>About Me</h2>
		<p><%= @user.bio %></p>

	<h2>My Posts</h2>
<% end %>

<% if current_user and current_user.posts.any? %>
	<% @user.posts.reverse.each do |post| %>
			<%= post.title %><br>
		<p>
			<%= post.body %><br>
			<%= time_ago_in_words(post.created_at) %> ago
		</p>
		<div class="button1"><%= link_to 'edit post', edit_post_path(post) %></div>
		<div class="button2"><%= link_to 'delete post', post, method: :delete %></div>
	<% end %>
<% else %>
	<p>You don't have any posts.</p>
<% end %>




