<div class="profile_nav">

<div class="profile_nav_left">	
		<% if current_user and current_user.photos.any? %>
			<%= image_tag(Photo.find_by(user_id: current_user.id).image.url, class: 'media-object') %>	
		<% else %>	
			<%= image_tag 'missing_picture.png', class: 'media-object' %>
		<% end %>
	</div>

	<div class="profile_nav_center">	
		<div class="username">
			<h1><%= @user.username %></h1>
		</div>
		<div id="location">
			<p><%= @user.location %></p>
		</div>

		<ul>
			<li><%= link_to 'Profile', profile_path %></li> | 
			<li><%= link_to 'Edit Info', edit_user_path(current_user.id) %></li> |
			<li><%= link_to 'My Pics', photos_index_path %></li> 
		</ul>
	</div>	

	<div class="profile_nav_right"></div>
</div>
<hr>
	<h2>About Me</h2>
	<p><%= @user.bio %></p>

	<h2 id="section_title">Latest Posts</h2>
	<% posts = Post.last(5).reverse %>
	<% posts.each do |post| %>
		<h2><%= post.title %></h2>
		<p><%= post.body %></p>
		
		<div class="post_info">
			<p>
				<%= link_to(time_ago_in_words(post.created_at), post) %> ago by 
				<%= link_to post.user.username, profile_user_path(post.user.username) %>
			</p>
		</div>	

		<% if post.user.photos.any? %>
				<%= image_tag(Photo.find_by(user_id: post.user.id).image.url, class: 'tiny_pic') %>	
			<% else %>	
				<%= image_tag 'missing_picture.png', class: 'tiny_pic' %>
		<% end %>

<br>

		<% if current_user and current_user == post.user %>
			<div class="button1"><%= link_to 'edit post', edit_post_path(post) %></div>
			<div class="button2"><%= link_to 'delete post', post, method: :delete %></div>
		<% end %>
	<% end %>

<hr>

<h2>My Posts</h2>
<% if current_user and current_user.posts.any? %>
	<% @user.posts.reverse.each do |post| %>
			<%= post.title %><br>
		<p>
			<%= post.body %><br>
			<%= time_ago_in_words(post.created_at) %> ago
		</p>
	<% end %>
<% else %>
	<p>You don't have any posts.</p>
<% end %>




