<% @user = current_user %>

<div class="profile_nav">

	<div class="profile_nav_left">	
		<% if current_user and current_user.photos.any? %>
			<%= image_tag(Photo.find_by(user_id: current_user.id).image.url, class: 'profilepic') %>	
		<% else %>	
			<%= image_tag '/assets/missing_picture.png', class: 'profilepic' %>
		<% end %>
	</div>

	<div class="profile_nav_right">	
		<div class="username">
			<h2><%= @user.username %></h2>
		</div>
		<div id="location">
			<p>Located at <%= @user.location %></p>
		</div>

			<li>
				<%= link_to 'Profile', profile_path %>
			</li> | 
			<li>
				<%= link_to 'Edit Info', edit_user_path(current_user.id) %>
			</li> |
			<li>
				<%= link_to 'My Pics', photos_index_path %>
			</li> 
	</div>	

</div>

<hr>

<div class="photo_page_header">
	<h2>Photos</h2>
	<p><%= link_to 'upload photo', photos_new_path %></p>
</div>
<br>
<% if current_user and current_user.photos.any? %>
	<%= render @photos %>
<% else %>
	<p>You didn't upload any photos yet.</p>	
<% end %>