<!DOCTYPE html>
<html>
	<head>
	  <title>Stumblr</title>

	  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	  <link href='https://fonts.googleapis.com/css?family=Iceland|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<div class="container">
				<div class="row1">
					<div class="col-md-6 col-md-offset-1">
						<div class="row2">
							<ul>
									<li>
										<h1 id="logo">STUMBLR</h1>
									</li>
								<% if current_user %>
									<li>
										<%= link_to 'Profile', profile_path %>
									</li>
									<li>
										<%= link_to 'Posts Feed', posts_path %>
									</li>
									<li>
										<%= link_to 'Create Post', new_post_path %>
									</li>
									<li>
										<%= link_to 'Log Out', sessions_path, method: :delete %>
									</li>
				<!-- 					<li id="greeting">Laugh it up, <span class="greeting_username"><%= current_user.username %>!</span></li> -->
								<% else %>
									<li>
										<%= link_to 'Sign Up', new_user_path %>
									</li>
									<li>
										<%= link_to 'Log In', login_path %>
									</li>
								<% end %>
							</ul>
						</div>

						<main>
							<div class="row3">
								<div class="splash">
									<div class="notice">
										<% if flash[:notice] %>
											<%= flash[:notice] %>
										<% end %>
									</div>

									<%= yield %>
								</div>	
							</div>
						</main>
					</div> 

				<div class="col-md-4">
					<div class="slideshow">
						<div>
							<%= image_tag "/assets/a.jpg", id: "slideshowpic" %>
						</div>
						<div>
							<%= image_tag "/assets/g.jpg", id: "slideshowpic" %>
						</div>
						<div>
							<%= image_tag "/assets/c.jpg", id: "slideshowpic" %>
						</div>
									
					</div>
				</div>

			</div> <!-- row1 -->

		</div> <!-- container -->

	</body>
</html>
